a:link{
    text-decoration: none;
}

.main_picture{
    transform: translateY(-40%);
}

.matte{
    background-image: url(https://picsum.photos/id/110/259/256);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin: 1px;
    position: relative;
}

.matteY::before{
    content: "";
    height: 200px;
    width: 100%;
    background-color: rgba(255, 226, 82, .8);
    position: absolute;
}

.matteG::before{
    content: "";
    height: 200px;
    width: 100%;
    background-color: rgba(33, 192, 125, .8);
    position: absolute;
}

.matte p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    writing-mode: vertical-lr;
}

.matteY p{
    color: #13714A;
}

.matteG{
    color: rgba(255, 226, 82, 1);
}

.background{
    height: 250px;
    margin-bottom: 50px;
}

.transIMG{
    transform: translateY(-25px);
}

h3 , .item{
    writing-mode: vertical-rl;
    margin: 0;
    color: #13714A;
}

@media screen and (max-width:768px){
    h3 , .item{
        writing-mode: horizontal-tb;
        margin: 0;
    }
    .background{
        width: 100%;
        height: auto;
    }
    .text_trans{
        transform: translateY(-475px);
    }
}

.why{
    transform: translateY(-20px);
}

@media screen and (min-widtn:768px){
    .reasonONE{
    top:50%;
    left: 50%;
    transform: translateY(-65%);
    }

.reasonTWO{
    top: 50%;
    left:50%;
    transform: translate(-145%,-50%);
    }
}


.product{
    height: 392px;
}

.today{
    top: 0;
    left: 15px;
    writing-mode: vertical-rl;
}

.today p{
    margin: 0;
    padding: 5px;
}

.love{
    top: 0;
    right: 15px;
}



.information{
    padding: 0;
    transform: translateY(40px);
}

.information a:link{
    text-decoration: none;
}